!!! XML
!!!
%html{html_attrs('ja')}
  %head
    %title= @id 
  %body
    %h1 Hello, @id
    %h1 Hello, #{@id}!
    %h1= "Hello, #{@id}!"
    %h1(class = @id)="Hello, " + @id + "!"
    %h1{:id => @id}= "Hello, " + @id + "!"
  %table
    %tr
      - @items.each do |item|
        %td= item
  - foo = "Thank you"
  - foo << " very"
  - foo += " much!"
  %p= foo
